<%- include('header') -%>

<!-- Content -->
<div id="search">
  <label for="userId">Search by title :</label>&nbsp;&nbsp;
  <input type="text" name="title" id="title">
  <br><br>
  <label for="userId">Search by genre :</label>&nbsp;&nbsp;
  <select name="genre" id="genre">
  </select>
  <br><br>
  <button id="searchBtn">search</button>
</div>

<div class="row">
</div>

<%- include('footer') -%>
