<%- include('header') -%>

<!-- Content -->
<div id="search">
  <div class="container_small">
    <label for="searchTitle"><b>Search by title</b></label>
    <input type="text" name="searchTitle" id="searchTitle">
    <br><br>
    <label for="searchGenre"><b>Search by genre</b></label>
    <select name="searchGenre" id="searchGenre">
      <option value="0">-- ANY --</option>
    </select>
    <br><br>
    <button id="searchBtn">search</button>
  </div>
</div>

<div class="row">
</div>

<%- include('footer') -%>
