<%- include('header') -%>

<!-- Content -->
<div id="search">
  <label for="searchTitle">Search by title :</label>&nbsp;&nbsp;
  <input type="text" name="searchTitle" id="searchTitle">
  <br><br>
  <label for="searchGenre">Search by genre :</label>&nbsp;&nbsp;
  <select name="searchGenre" id="searchGenre">
    <option value="0">-- ANY --</option>
  </select>
  <br><br>
  <button id="searchBtn">search</button>
</div>

<div class="row">
</div>

<%- include('footer') -%>
