<%- include('header') -%>

<!-- Content -->
<div id="search">
  <label for="userId">Search by title :</label>&nbsp;&nbsp;
  <input type="text" name="title" id="title">
  <br>
  <label for="userId">Search by genre :</label>&nbsp;&nbsp;
  <select name="genre" id="genre">
    <option value="1">Action</option>
    <option value="2">Drama</option>
    <option value="3">Horror</option>
  </select>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Poster</h3>
      <p>Title</p>
      <p>community score (no of people who voted)</p>
    </div>
  </div>
</div>

<%- include('footer') -%>
