<%- include('header') -%>

<div class="container">
    <h1>Login</h1>
    <hr>
    <form method="POST" action="/login">
        <div class="container_form">
            <label for="email"><b>Email</b></label>
            <span class="alert"><label class="alert" id="alertEmail"></label></span>
            <input type="text" placeholder="Enter email" name="email" id="email" required>
        
            <label for="password"><b>Password</b></label>
            <span class="alert"><label id="alertPassword"></label></span>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
                
            <button type="submit" class="loginBtn" id="loginBtn" name="loginBtn">Login</button>
        </div>
    
        <div class="container_button">
            <button type="button" class="cancelBtn" id="cancelBtn" name="cancelBtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form> 
</div>

<script src="/static/js/validation_login.js"></script>

<%- include('footer') -%>