<%- include('header') -%>

<div id="movieDetails" class="div-center">
    <p id="movie_id" class="hide"><%= movie_id %></p>
</div>
<div id="rating" class="div-center">
    <p>*****</p>
</div>

<%- include('footer') -%>