<%- include('header') -%>

<div id="movieDetails" class="div-center">
    <h1>Poster</h1>
    <h2>Title</h2>
    <p>Year</p>
    <p>synopsis</p>
</div>
<div id="rating" class="div-center">
    <p>*****</p>
</div>

<%- include('footer') -%>